@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #3B3A39;
        color: white !important;
    }

    table, th, tr{
        color: white !important;
    }
}

.viewMap{
    margin-left:1%;
}

.highlightRow {
    background-color: #6264A7;
    color: white;
}

.container {
    /*background-color: rgba( 225, 223, 221, 0.14) !important;*/
}

.beta-text {
    margin-top: 0;
    margin-bottom: 0;
}

.pointer-table tr {
    height: 20px;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .map-div {
        background-color: #3B3A39;
    }
}
@media (prefers-color-scheme: light) {
    .map-div {
        background-color: white;
    }
}


#mainImage {
    cursor: crosshair;
}

#myCanvas {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: -1;
}

#mapCanvas {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: -2;
}

#highlightingCanvas {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
}

#drawingCanvas {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: -1;
}

.main-frame {
    margin-top: 0%;
}

map {
    opacity: 0.9;
}

img {
    opacity: 0.5;
    z-index: -100;
    border: solid;
    border-width: 10px;
    border-color: rgba( 225, 223, 221, 0.8);
}

#disclaimer {
    font-style: italic;
    color: gray;
}

.hidden {
    display: none;
}

.main-title {
    margin-top: 10%;
}


.btn-file {
    position: relative;
    overflow: hidden;
}

.imageselection {
    margin-top: 10%;
}

.submitroombtn {
    margin-top: 32px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

.btn-primary {
    background-color: #6264A7 !important;
    border-color: #21252924 !important;
}

.btn-outline-primary {
    color: #6264A7 !important;
    border-color: #6264A7 !important;
}

    .btn-outline-primary:hover {
        color: white !important;
        border-color: #6264A7 !important;
        background-color: #6264A7 !important;
    }

.msft-selection-header {
    margin-top: 5vh;
}

.loading-div {
    padding-left: 45%;
    padding-top: 5%;
}

#loading-spinner {
    animation-delay: 0ms;
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotation;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(1deg)
    }

    100% {
        transform: rotate(360deg)
    }
}
